

    /* work sans google font */
    @import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Open+Sans:wght@800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
    /* shared style */
    *{
        font-family: 'Lato', sans-serif;
        font-family: 'Open Sans', sans-serif;
        font-family: 'Work Sans', sans-serif;
    }
    *{
        margin: 0;
        padding:0;
    }
    .banner-content-1{
        color: #534C64;
        font-size: 1rem;
        font-weight: 500;
    }
    /* header style */
    header{
        background: #FFF;
        /* padding:15px 200px; */
        /* background-image: url('../images/Group\ 14.png');
        background-repeat: no-repeat;
        background-position: bottom left; */
    }
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:0px 200px;
        box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    }
    .nav-1{
        display: flex;
        gap:10px;
    }
    nav>ul{
        display: flex;
    }
    nav li{
        margin-right: 30px;
        list-style: none;
    
    }
    nav li a{
        text-decoration: none;
    }
    .nav-btn{
        padding: 10px;
        border-radius: 8px;
        background: rgba(11, 2, 35, 0.10);
            }
    .color{
        border-radius: 48px;
        color: #FF42A5;
        font-size: 2.8rem;
    }
    .color-2{
    color: #0B0223;
    font-size: 2.8rem;
    }
    #color-3{
        color:red;
    }
    /* banner style */
    .banner{
        padding:30px 200px 0 200px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .banner-content{
        max-width: 500px;
    }
    .banner-profile-pic{
        width: 400px}
    .banner img{
        width:100%;
    }
    .banner-title{
        color: #0B0223;
        font-size: 2.4rem;
    }
    .title{
    font-size:3.5rem;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
     background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    }
    .btn-primary{
        padding:10px;
        border-radius:20px;
        border: 0;
        color: #FFF;
        margin-top: 5px;
        background:linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%);
    }
    .btn-secondary{
        padding:10px;
        border: 0;
        margin-top: 5px;
        color: #FFF;
        border-radius: 20px;
        background: #4EC5F7;
    }
    /* mobile device */
    @media  screen and (max-width:576px) {
        nav{
            display: flex;
            flex-direction: column;
        }
        nav>ul{
            display: flex;
            flex-direction: column;
            margin-top: 5px;
        }
        .banner{
            display: flex;
            flex-direction: column;
        }
       
    }